* {
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
    background-color: rgb(138, 194, 175);
}

.content {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

button {
    margin: 10px;
    background: white;
    border-radius: .375rem;
    border-style: solid;
    border-width: .125rem;
    color: #212121;
    cursor: pointer;
    font-size: 1.005rem;
    font-weight: 700;
    padding: .800rem 1rem;
    text-align: center;
    transform: translateZ(0) scale(1);
    transition: transform .2s;
}

button:hover {
    transform: scale(1.05);
}

button:hover:active {
    transform: scale(1.05) translateY(.125rem);
}

button:focus {
    outline: 0 solid transparent;
}

table {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-collapse: collapse;
    border: 1px solid black;
    aspect-ratio : 1 / 1;
    width: 30%;
    min-width: 550px;
    max-width: 1000px;
    background-color: rgb(5, 153, 49);
}

td {
    border: 1px solid black;
}

td#white {
    background-color: #f0d9b5;
}

td#black {
    background-color: #b58863;
}

.playArea {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.player2, .player1 {
    margin: 5px 0px 5px 0px;
    height: 12%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pl2Text, .pl1Text {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
}

.wFigs, .bFigs {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.w1, .w2, .b1, .b2 {
    display: flex;
    justify-content: flex-end;
}

[class="9"], [class="10"], [class="11"], [class="12"], [class="13"], [class="14"], [class="15"], [class="16"], [class="9 *"], [class="10 *"], [class="11 *"], [class="12 *"], [class="13 *"], [class="14 *"], [class="15 *"], [class="16 *"] {
    background-image: url("../img/PawnB.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

[class="17"], [class="18"], [class="19"], [class="20"], [class="21"], [class="22"], [class="23"], [class="24"], [class="17 *"], [class="18 *"], [class="19 *"], [class="20 *"], [class="21 *"], [class="22 *"], [class="23 *"], [class="24 *"] {
    background-image: url("../img/PawnW.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

[class="1"], [class="8"], [class="1 *"], [class="8 *"] {
    background-image: url("../img/RookB.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

[class="25"], [class="32"], [class="25 *"], [class="32 *"] {
    background-image: url("../img/RookW.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

[class="2"], [class="7"], [class="2 *"], [class="7 *"] {
    background-image: url("../img/KnightB.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

[class="26"], [class="31"], [class="26 *"], [class="31 *"] {
    background-image: url("../img/KnightW.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

[class="3"], [class="6"], [class="3 *"], [class="6 *"] {
    background-image: url("../img/BishopB.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

[class="27"], [class="30"], [class="27 *"], [class="30 *"] {
    background-image: url("../img/BishopW.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

[class="4"], [class="4 *"] {
    background-image: url("../img/QueenB.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

[class="28"], [class="28 *"] {
    background-image: url("../img/QueenW.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

[class="5"], [class="5 *"] {
    background-image: url("../img/KingB.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

[class="29"], [class="29 *"] {
    background-image: url("../img/KingW.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

[class="-1"], [class="-2"], [class="-3"], [class="-4"], [class="-5"], [class="-6"], [class="-7"], [class="-8"], [class="-9"], [class="-10"], [class="-11"], [class="-12"], [class="-13"], [class="-14"], [class="-15"], [class="-16"], [class="-17"], [class="-18"], [class="-19"], [class="-20"], [class="-21"], [class="-22"], [class="-23"], [class="-24"], [class="-25"], [class="-26"], [class="-27"], [class="9 *"], [class="10 *"], [class="11 *"], [class="12 *"], [class="13 *"], [class="14 *"], [class="15 *"], [class="16 *"], [class="17 *"], [class="18 *"], [class="19 *"], [class="20 *"], [class="21 *"], [class="22 *"], [class="23 *"], [class="24 *"], [class="1 *"], [class="8 *"], [class="25 *"], [class="32 *"], [class="2 *"], [class="7 *"], [class="26 *"], [class="31 *"], [class="3 *"], [class="6 *"], [class="27 *"], [class="30 *"], [class="4 *"], [class="28 *"], [class="5 *"], [class="29 *"] {
    border-radius: 50%;
}